{% extends 'basecz.html.twig' %}
{% block title %} Teacher Page {% endblock %}
{% block navBar %}
<li class="nav-item">
<a class="nav-link" href="">{{app.user.lastname}}  {{app.user.firstname}}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{path('school_rating',{'id':pageId})}}"> Schools Satisfying Rating </a>
</li>
{% endblock %}



{% block javascripts %}

<!-- JavaScript starts here -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>

<script>
let Marks_Graphic = true;
let Teach_Graphic = false;


window.onload = function()	// Function on page loading
{
	document.getElementById("container2").style.display = "none";
	document.getElementById("container1").style.display = "block";
};

function showMarks()
{
	if( Marks_Graphic == false )
	{
		Marks_Graphic = true;
		document.getElementById("container1").style.display = "block";
        if( Teach_Graphic == true )
        {
            Teach_Graphic = false;
            document.getElementById("container2").style.display = "none";
        }
	}
}

function showTeach()
{
	if( Teach_Graphic == false )
	{
		Teach_Graphic = true;
		document.getElementById("container2").style.display = "block";
        if( Marks_Graphic == true )
        {
            Marks_Graphic = false;
		    document.getElementById("container1").style.display = "none";
        }
	}
}

function email()
{
    alert("The letter was sent to: {{teacher.email}}");
    var link = "mailto:{{teacher.email}}"
             + "?cc=myCCaddress@example.com"
             + "&subject=" + escape("This is my subject")
             + "&body=" + escape(document.getElementById('myText').value)
    ;
    window.location.href = link;
}

function exportPDF()
{
    // Default export is a4 paper, portrait, using milimeters for units
    var doc = new jsPDF();
    doc.text('Teacher Information.\n'
    + '-------------------------------------------------------------\n'
    + 'Teacher: {{teacher.firstname}} {{teacher.lastname}}.\n'
    + 'Subject: {% for tc in teacherClassesList %}{{tc.subject.name}}{% endfor %}.\n'
    + 'Group: 5A. \n'
    + 'Classes: {% for tc in teacherClassesList %}{{tc.classes.name}}{% endfor %}.\n'
    + 'School: {{school.name}}.\n'
    + 'E-mails: {{teacher.email}}.\n'
    + '-------------------------------------------------------------\n'
    + 'Your mark: {{mark.mark}}.\n'
    + 'Comments about you: {{commentnumber}}.\n'
    + 'You have received feedback from: {{mark.numberOfResponses}} people.\n'
    + '-------------------------------------------------------------\n', 10, 10);

    doc.save('INFO_{{teacher.firstname}}{{teacher.lastname}}.pdf');
}

function exportPDFTwo()
{
    Highcharts.charts[0].exportChart({type: 'application/pdf'});
}

$(function some()
{
    var data1 = [];

    let y = 0;

    {% for marks in marklist %}
        data1[y] = parseFloat({{mark.numberOfResponses}});
        y++;
    {% endfor %}


    Highcharts.theme = {
 colors: ['#66B032', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066',
  '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
 chart: {
  backgroundColor: {
     linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
     stops: [
        [0, '#F7F7D4'],
        [1, '#B2D732']
     ]
  },
  style: {
     fontFamily: '\'Unica One\', sans-serif'
  },
  plotBorderColor: '#606063'
 },
 title: {
  style: {
     color: '#66B032',
     textTransform: 'uppercase',
     fontSize: '20px'
  }
 },
 subtitle: {
  style: {
     color: '#66B032',
     textTransform: 'uppercase'
  }
},
xAxis: {
  gridLineColor: '#707073',
  labels: {
     style: {
        color: '#66B032'
     }
  },
  lineColor: '#707073',
  minorGridLineColor: '#505053',
  tickColor: '#707073',
  title: {
     style: {
        color: '#A0A0A3'

     }
  }
},
yAxis: {
  gridLineColor: '#707073',
  labels: {
     style: {
        color: '#E0E0E3'
     }
  },
  lineColor: '#707073',
  minorGridLineColor: '#505053',
  tickColor: '#707073',
  tickWidth: 1,
  title: {
     style: {
        color: '#A0A0A3'
     }
  }
},
tooltip: {
  backgroundColor: 'rgba(0, 0, 0, 0.85)',
  style: {
     color: '#F0F0F0'
  }
},
plotOptions: {
  series: {
     dataLabels: {
        color: '#B0B0B3'
     },
     marker: {
        lineColor: '#333'
     }
  },
  boxplot: {
     fillColor: '#505053'
  },
  candlestick: {
     lineColor: 'white'
  },
  errorbar: {
     color: 'white'
  }
},
legend: {
  itemStyle: {
     color: '#E0E0E3'
  },
  itemHoverStyle: {
     color: '#FFF'
  },
  itemHiddenStyle: {
     color: '#606063'
  }
},
credits: {
  style: {
     color: '#666'
  }
},
labels: {
  style: {
     color: '#707073'
  }
},

drilldown: {
  activeAxisLabelStyle: {
     color: '#F0F0F3'
  },
  activeDataLabelStyle: {
     color: '#F0F0F3'
  }
},

navigation: {
  buttonOptions: {
     symbolStroke: '#DDDDDD',
     theme: {
        fill: '#505053'
     }
  }
},

// scroll charts
rangeSelector: {
  buttonTheme: {
     fill: '#505053',
     stroke: '#000000',
     style: {
        color: '#CCC'
     },
     states: {
        hover: {
           fill: '#707073',
           stroke: '#000000',
           style: {
              color: 'white'
           }
        },
        select: {
           fill: '#000003',
           stroke: '#000000',
           style: {
              color: 'white'
           }
        }
     }
  },
  inputBoxBorderColor: '#505053',
  inputStyle: {
     backgroundColor: '#333',
     color: 'silver'
  },
  labelStyle: {
     color: 'silver'
  }
},

navigator: {
  handles: {
     backgroundColor: '#666',
     borderColor: '#AAA'
  },
  outlineColor: '#CCC',
  maskFill: 'rgba(255,255,255,0.1)',
  series: {
     color: '#7798BF',
     lineColor: '#A6C7ED'
  },
  xAxis: {
     gridLineColor: '#505053'
  }
},

scrollbar:
{
  barBackgroundColor: '#808083',
  barBorderColor: '#808083',
  buttonArrowColor: '#CCC',
  buttonBackgroundColor: '#606063',
  buttonBorderColor: '#606063',
  rifleColor: '#FFF',
  trackBackgroundColor: '#404043',
  trackBorderColor: '#404043'
},

// special colors for some of the
legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
background2: '#505053',
dataLabelsColor: '#B0B0B3',
textColor: '#C0C0C0',
contrastTextColor: '#F0F0F3',
maskColor: 'rgba(255,255,255,0.3)'
};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);


    Highcharts.chart('container1',
    {
        title:
        {
            text: 'How your students response'
        },
        xAxis:
        [{
            title:
            {
                text: 'Data'
            },
            alignTicks: false
            },
            {
                title:
                {
                    text: 'Histogram'
                },
                alignTicks: false,
                opposite: true
        }],
        yAxis:
        [{
            title:
            {
                text: 'Data'
            }
        },
        {
            title:
            {
                text: 'Histogram'
            },
            opposite: true
        }],
        series:
        [{
            name: 'Histogram',
            type: 'histogram',
            xAxis: 1,
            yAxis: 1,
            baseSeries: 's1',
            zIndex: -1
        },
        {
            name: 'Data',
            type: 'scatter',
            data: data1,
            id: 's1',
            marker:
            {
                radius: 1.5
            }
        }]
    });

    var data2 = [];

    let i = 0;

    {% for marks in marklist %}
        data2[i] = parseFloat({{marks}});
        i++;
    {% endfor %}

    Highcharts.chart('container2',
    {
        title:
        {
            text: 'Comparing you with other teachers'
        },
        xAxis:
        [{
            title:
            {
                text: 'Points Histogram'
            },
            alignTicks: false
        },
        {
            title:
            {
                text: 'Comparing you with the teachers of other subjects'
            },
            alignTicks: false,
            opposite: true
        }],
        yAxis:
        [{
            title:
            {
                text: 'Teacher grades'
            }
        },
        {
            title:
            {
                text: 'Histogram'
            },
            opposite: true
        }],
        series:
        [{
            name: 'Histogram',
            type: 'bellcurve',
            xAxis: 1,
            yAxis: 1,
            baseSeries: 1,
            zIndex: -1
        },
        {
            name: 'Teacher grades',
            type: 'scatter',
            data: data2,
            marker:
            {
                radius: 1.5
            }
        }]
    });
});

</script>

<!-- JavaScript ends here -->

{% endblock %}

{% block body %}
<div class="tcontainer">
	<div class="row">
		<div class="col-2">
			<!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Statistika</h3>
            </div>

            <ul class="list-unstyled components">
                <p><b>{{teacher.firstname}} {{teacher.lastname}}</b></p>
				<li>
					<a href="{{path('admin')}}"><img src="https://i.ibb.co/MZkhJ82/uk.png"></img> English version</a>
				</li>
                <li>
                    <a href="#" style="color:#c2e59c;" onClick="email()">Odeslat výsledky na e-mail</a>
                </li>

                <li>
                    <a href="#" style="color:#c2e59c;" onClick="exportPDF()">Exportovat informace jako dokument PDF</a>
                </li>
                <li>
                    <a href="#" style="color:#c2e59c;" onClick="exportPDFTwo()">Export grafiky ve formátu PDF doc</a>
                </li>
								<li>
										<a href="#" style="color:#c2e59c;" onClick="showMarks()">Moje grafika</a>
								</li>
								<li>
										<a href="#" style="color:#c2e59c;" onClick="showTeach()">Ostatní učitelé Grafika</a>
								</li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="" onclick="window.location.href='{{ path('security_logout') }}'" class="download">Odhlásit se</a>
                </li>
            </ul>
        </nav>
		</div>
		<div class="col-10">
			<div class="row" style="margin-top:10px;">
				<button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
			</div>
			<div class="row">
				<div class="container" style="margin-top:10px;">
					<h3 class="display-4">▪ Informace pro učitele ▪</h3>
					<hr>
					<h4>&nbsp;<b>Učitel:</b> {{teacher.firstname}} {{teacher.lastname}} </h4>
					<h4>&nbsp;<b>Předmět:</b>{% for tc in teacherClassesList %}
							{{tc.subject.name}}
					{% endfor %} </h4>
					<h4>&nbsp;<b>Skupina:</b> 5A</h4>
					<h4>&nbsp;<b>Třídy:</b> {% for tc in teacherClassesList %}
							{{tc.classes.name}}
					{% endfor %} </h4>
					<h4>&nbsp;<b>Škola:</b> {{school.name}}</h4>
					<h4>&nbsp;<b>E-maily:</b> {{teacher.email}} </h4>
					<hr>
				</div>

				<div class="container" style="margin-top:10px;">
				    <h3 class="display-4"> ▪ Poslední komentář ▪ </h3>
				    <hr>
				    <section>
				        <h4>Komentář <b> {{commentnumber}} </b> :</h4>
				        <div>5/09/2019 at 12:00</div>
				        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quam nisi odit vitae, placeat nulla error, nobis sint nam accusamus
				            atque perferendis dicta aliquid aut culpa quas! Laborum, mollitia quidem.
				        </p>
				        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laborum fugit temporibus laudantium, reprehenderit atque quis autem quam expedita numquam,
				        vitae, facere animi? Quis ipsum praesentium itaque odio error temporibus.
				        </p>
				    </section>
						<div align="center"><button onclick="location.href='{{path('teacher_stats',{'id':pageId})}}'" type="button" class="submit"> Zobrazit všechny komentáře </button></div>
				</div>

				<div class="container" style="margin-top:10px;">
				<h3  class="display-4"> ▪ Výsledky v grafech ▪ </h3>
                <div><a href="#" style="color:#c2e59c;" onClick="showMarks()">první grafika</a></div>
				<div><a href="#" style="color:#c2e59c;" onClick="showTeach()">druhá grafika</a></div>
				<hr>
				<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
				<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
				</div>
			</div>

			</div>

	</div>

</div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

{% endblock %}
