{% extends 'basecz.html.twig' %}
{% block title %} Teacher Page {% endblock %}
{% block navBar %}
<li class="nav-item">
<a class="nav-link" href="">{{app.user.lastname}}  {{app.user.firstname}}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{path('school_rating',{'id':pageId})}}"> Schools Satisfying Rating </a>
</li>
{% endblock %}



{% block javascripts %}

<!-- JavaScript starts here -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>

<script>

function email()
{
    alert("The letter was sent to: {{teacher.email}}");
    var link = "mailto:{{teacher.email}}"
             + "?cc=myCCaddress@example.com"
             + "&subject=" + escape("This is my subject")
             + "&body=" + escape(document.getElementById('myText').value)
    ;
    window.location.href = link;
}

function exportPDF()
{
    // Default export is a4 paper, portrait, using milimeters for units
    var doc = new jsPDF();
    doc.text('Teacher Information.\n'
    + '-------------------------------------------------------------\n'
    + 'Teacher: {{teacher.firstname}} {{teacher.lastname}}.\n'
    + 'Subject: {% for tc in teacherClassesList %}{{tc.subject.name}}{% endfor %}.\n'
    + 'Group: 5A. \n'
    + 'Classes: {% for tc in teacherClassesList %}{{tc.classes.name}}{% endfor %}.\n'
    + 'School: {{school.name}}.\n'
    + 'E-mails: {{teacher.email}}.\n'
    + '-------------------------------------------------------------\n'
    + 'Your mark: {{mark.mark}}.\n'
    + 'Comments about you: {{commentnumber}}.\n'
    + 'You have received feedback from: {{mark.numberOfResponses}} people.\n'
    + '-------------------------------------------------------------\n', 10, 10);

    doc.save('INFO_{{teacher.firstname}}{{teacher.lastname}}.pdf');
}

function exportPDFTwo()
{
    Highcharts.charts[0].exportChart({type: 'application/pdf'});
}


</script>

<!-- JavaScript ends here -->

{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-3" style="margin-top:10px; margin-left:25px;">
			<!-- Sidebar  -->
        <div class="container" style="background-color:#17a2b8;">    
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Statistics</h3>
            </div>

            <ul class="list-unstyled components">
                <p><b>{{teacher.firstname}} {{teacher.lastname}}</b></p>
				<li>
					<a href="{{path('teachercz')}}" style="color:#000;" ><img src="https://i.ibb.co/MZkhJ82/cz.png"></img>Czech Version</a>
				</li>
                <li>
                    <a href="{{path('teacher_send_email',{'id':pageId})}}" style="color:#c2e59c;" onClick="email()">Send results to E-mail</a>
                </li>

                <li>
                    <a href="#" style="color:#c2e59c;" onClick="exportPDF()">Export info as PDF document</a>
                </li>
                <li>
                    <a href="#" style="color:#c2e59c;" onClick="exportPDFTwo()">Export graphics as a PDF document</a>
                </li>
								<li>
										<a href="#" style="color:#c2e59c;" onClick="showMarks()">My graphics</a>
								</li>
								<li>
										<a href="#" style="color:#c2e59c;" onClick="showTeach()">Other teacher graphics</a>
								</li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="" style="color:#000;" onclick="window.location.href='{{ path('security_logout') }}'" class="download">Logout</a>
                </li>
            </ul>
        </nav>
		</div>
        </div>
		<div class="col-7" style="margin-right:80px; width: 90%;">

			<div class="row">
				<div class="container" style="margin-top:10px;">
					<h3 class="display-4">▪ Teacher Information ▪</h3>
					<hr>
					<h4>&nbsp;<b>Firstname:</b> {{teacher.firstname}} {{teacher.lastname}} </h4>
					<h4>&nbsp;<b>Subject:</b>{% for tc in teacherClassesList %}
							{{tc.subject.name}}
					{% endfor %} </h4>
					<h4>&nbsp;<b>Group:</b> 5A</h4>
					<h4>&nbsp;<b>Classes:</b> {% for tc in teacherClassesList %}
							{{tc.classes.name}}
					{% endfor %} </h4>
					<h4>&nbsp;<b>School:</b> {{school.name}}</h4>
					<h4>&nbsp;<b>E-mail:</b> {{teacher.email}} </h4>
					
				</div>




			</div>
            <div class="row">
            				<div class="container" style="margin-top:10px;">
				    <h3 class="display-4"> Last comments </h3>
				    <hr>
				    <section>
				        <h4>Comment <b> {{commentnumber}} </b> :</h4>
                        {% if randomcomment %}
                         <div>{{randomcomment.creationDate|date('Y/m/d')}}</div>
				        <p>{{randomcomment.text}}</p>
                        {% endif %}
				    </section>
						<div align="center"><button onclick="location.href='{{path('teacher_stats',{'id':pageId})}}'" type="button" class="submit"> Show all comments </button></div>
				</div>
            
			</div>

	    </div>


    </div>
<div class="row" style="margin-top:20px;">

<div id="chartContainer" style="margin-left:80px; width: 90%;">	</div>
</div>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", 
	title:{
		text: "How your students response"
	},
	axisY: {
		title: "Subject"
	},
	data: [{        
		type: "column",  
		showInLegend: true, 
		legendMarkerColor: "grey",
		legendText: "Mark",
		dataPoints:{{ graphdata|json_encode|raw }}       
    
	}]
});
chart.render();

}
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


{% endblock %}

