{% extends "basecz.html.twig" %}
{% block body %}
<br>
<div class="container">
<b><h2 align="center" style="color:#007AFF">Seznam průzkumu, který máte: </h2></b>
<div align="center"><a href="{{path('teacher')}}"><img src="https://i.ibb.co/MZkhJ82/uk.png"></img> English version</a></div>
<hr>
<form action="{{path('teachercz')}}" method="post">
{% for dt in data %}
<h3 style="color:#007AFF">{{dt.survey.title}}</h3>
<table class="table">
<tr>
    <th>Průzkum</th>
    <th>Třída</th>
    <th>Předmět</th>
</tr>
{% for page in dt.pages %}
    <tr>
    <td>{{dt.survey.id}}</td>
    <td>{{dt.survey.classes.name}}</td>
    <td>{{page.subject.name}}</td>
    <td><div class="form-check">
          <input class="form-check-input" type="radio" name="page_selected"  value="{{page.id}}">
        </div></td>
</tr>
{% endfor %}
</table>
{% endfor %}
<div class="form-textbox">
      <input type="submit" name="submit" id="submit" class="submit" value="Vybrat" />
  </div>

</form>
</div>
{% endblock %}