{% extends "base.html.twig" %}
{% block body %}
<br>
<div class="container">
<b><h2 align="center" style="color:#007AFF">List of survey you have: </h2></b>
<div align="center"><a href="{{path('teachercz')}}"><img src="https://i.ibb.co/ZftRzPq/cz.png"></img> Czech version</a></div>
<hr>
<form action="{{path('teacher')}}" method="post">
{% for dt in data %}
<h3 style="color:#007AFF">{{dt.survey.title}}</h3>
<table class="table">
<tr>
    <th>Survey</th>
    <th>Class</th>
    <th>Subject</th>
</tr>
{% for page in dt.pages %}
    <tr>
    <td>{{dt.survey.id}}</td>
    <td>{{dt.survey.classes.name}}</td>

      <td>
    <input type="radio" class="rButton" name="page_selected"  value="{{page.id}}"/>
    <span class="convText">{{page.subject.name}}</span>
</td>

</tr>
{% endfor %}
</table>
{% endfor %}
<div class="form-textbox">
      <input type="submit" name="submit" id="submit" class="submit" value="Select" />
  </div>
</form>
</div>
{% endblock %}
