{% extends 'base.html.twig' %}
{% block title %} School Satisfying {% endblock %}
{% block navBar %}
<li class="nav-item">
<a class="nav-link" href="">{{app.user.lastname}}  {{app.user.firstname}}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{path('school_rating')}}"> Schools Satisfying Rating </a>
</li>
{% endblock %}


{% block javascripts %}

<!-- JavaScripts starts here -->

<script>

function sortTable(n)
{
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  dir = "asc";
  while (switching)
  {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++)
    {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc")
      {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
      else if (dir == "desc")
      {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase())
        {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch)
    {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    }
    else
    {
      if (switchcount == 0 && dir == "asc")
      {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>

<!-- JavaScripts ends here -->

{% endblock %}

{% block body %}
{% set TM = 14.7 %}

<div align="center">

<h1> Page for School Ratings</h1>

<table id="myTable" border="1">
<tr>
    <th class="tablestart">
        <h3> ID: </h3>
    </th>
    <th class="tablestart">
        <h3> School name: </h3>
    </th>
    <th onclick="sortTable(0)" class="tablestart">
        <h3> Teacher marks: </h3>
    </th>
    <th onclick="sortTable(1)" class="tablestart">
        <h3><b> TOTAL: </b></h3>
    </th>
</tr>
{% for sch in schools %}
<tr>
    <td>
        <h3> {{ sch.id }} </h3>
    </td>
    <td>
        <h3> {{ sch.name }} </h3>
    </td>
    <td>
        <h3>
        {% for mrk in marklist %}
            {% if sch.id == mrk.id %}
            {{ mrk.mark }}
            {% endif %}
        {% endfor %}
        </h3>
    </td>
    <td>
        <h3>
            {% for mrk in marklist %}
            {% if sch.id == mrk.id %}
            {{ mrk.mark * 20 }} %
            {% endif %}
        {% endfor %}
        </h3>
    </td>
</tr>
{% endfor %}
</table>

<br>
<button onClick="" type="button"> Show Satisfying Graph </button>

</div>

{% endblock %}
