{% extends "base.html.twig" %}
{% block title %} Statistic Page {% endblock %}
{% block navBar %}
<li class="nav-item">
<a class="nav-link" href="">{{app.user.lastname}}  {{app.user.firstname}}</a>
</li>
<li class="nav-item">
<a class="nav-link" href=""> Schools Satisfying Rating </a>
</li>
{% endblock %}
{% block stylesheets %}
<style>

body
{
    color: #1B3409;
    background-color: #F7F7D4;
}

h1
{
    color: #4CAF50;
}

h2
{
    color: #4CAF50;
}

h3
{
    color: #4CAF50;
}

</style>
{% endblock %}
{% block javascripts %}

<!-- JavaScript starts here -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script>

    // Cycles for third graph starts here

    let data3 = [];

    let q = 0;

    {% for i in 1.. commentnumber %}
        data3[q] = {{i}};
        q++;
    {% endfor %}

    let data4 = [];

    let u = 0;

    {% for i in 1.. commentnumber %}
        data4[u] = {{i}};
        u++;
    {% endfor %}

    // Cycles for third graph ends here


$(function some()
{

    Highcharts.theme = {
 colors: ['#66B032', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066',
  '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
 chart: {
  backgroundColor: {
     linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
     stops: [
        [0, '#F7F7D4'],
        [1, '#F7F7D4']
     ]
  },
  style: {
     fontFamily: '\'Unica One\', sans-serif'
  },
  plotBorderColor: '#606063'
 },
 title: {
  style: {
     color: '#66B032',
     textTransform: 'uppercase',
     fontSize: '20px'
  }
 },
 subtitle: {
  style: {
     color: '#66B032',
     textTransform: 'uppercase'
  }
},
xAxis: {
  gridLineColor: '#707073',
  labels: {
     style: {
        color: '#66B032'
     }
  },
  lineColor: '#707073',
  minorGridLineColor: '#505053',
  tickColor: '#707073',
  title: {
     style: {
        color: '#A0A0A3'

     }
  }
},
yAxis: {
  gridLineColor: '#707073',
  labels: {
     style: {
        color: '#E0E0E3'
     }
  },
  lineColor: '#707073',
  minorGridLineColor: '#505053',
  tickColor: '#707073',
  tickWidth: 1,
  title: {
     style: {
        color: '#A0A0A3'
     }
  }
},
tooltip: {
  backgroundColor: 'rgba(0, 0, 0, 0.85)',
  style: {
     color: '#F0F0F0'
  }
},
plotOptions: {
  series: {
     dataLabels: {
        color: '#B0B0B3'
     },
     marker: {
        lineColor: '#333'
     }
  },
  boxplot: {
     fillColor: '#505053'
  },
  candlestick: {
     lineColor: 'white'
  },
  errorbar: {
     color: 'white'
  }
},
legend: {
  itemStyle: {
     color: '#E0E0E3'
  },
  itemHoverStyle: {
     color: '#FFF'
  },
  itemHiddenStyle: {
     color: '#606063'
  }
},
credits: {
  style: {
     color: '#666'
  }
},
labels: {
  style: {
     color: '#707073'
  }
},

drilldown: {
  activeAxisLabelStyle: {
     color: '#F0F0F3'
  },
  activeDataLabelStyle: {
     color: '#F0F0F3'
  }
},

navigation: {
  buttonOptions: {
     symbolStroke: '#DDDDDD',
     theme: {
        fill: '#505053'
     }
  }
},

// scroll charts
rangeSelector: {
  buttonTheme: {
     fill: '#505053',
     stroke: '#000000',
     style: {
        color: '#CCC'
     },
     states: {
        hover: {
           fill: '#707073',
           stroke: '#000000',
           style: {
              color: 'white'
           }
        },
        select: {
           fill: '#000003',
           stroke: '#000000',
           style: {
              color: 'white'
           }
        }
     }
  },
  inputBoxBorderColor: '#505053',
  inputStyle: {
     backgroundColor: '#333',
     color: 'silver'
  },
  labelStyle: {
     color: 'silver'
  }
},

navigator: {
  handles: {
     backgroundColor: '#666',
     borderColor: '#AAA'
  },
  outlineColor: '#CCC',
  maskFill: 'rgba(255,255,255,0.1)',
  series: {
     color: '#7798BF',
     lineColor: '#A6C7ED'
  },
  xAxis: {
     gridLineColor: '#505053'
  }
},

scrollbar:
{
  barBackgroundColor: '#808083',
  barBorderColor: '#808083',
  buttonArrowColor: '#CCC',
  buttonBackgroundColor: '#606063',
  buttonBorderColor: '#606063',
  rifleColor: '#FFF',
  trackBackgroundColor: '#404043',
  trackBorderColor: '#404043'
},

// special colors for some of the
legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
background2: '#505053',
dataLabelsColor: '#B0B0B3',
textColor: '#C0C0C0',
contrastTextColor: '#F0F0F3',
maskColor: 'rgba(255,255,255,0.3)'
};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);


    Highcharts.chart('container3',
    {
        xAxis:
        {
            min: -0.5,
            max: 5.5
        },
        yAxis:
        {
            min: 0
        },
        title:
        {
            text: 'Growth graph of the number of comments'
        },
        series:
        [{
            type: 'line',
            name: 'Regression Line',
            data: [[0, 1.11], [5, 4.51]],
            marker:
            {
                enabled: false
            },
            states:
            {
                hover:
                {
                    lineWidth: 0
                }
            },
            enableMouseTracking: false
        },
        {
            type: 'scatter',
            name: 'Observations',
            data: data3,
            marker:
            {
                radius: 4
            }
        }]
    });
});

</script>

<!-- JavaScript ends here -->

{% endblock %}

{% block body %}
<div class="container">
    <h2 align="center">Comment section</h2>
    <section>
        <div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </section>

    <!-- Comment Sorter -->

    <!--
    <div class="container">
    <form action="{{path('teacher_stats',{'id':pageId})}}" method="post">
    <hr>
    <h3 align="center">Comment Sorter</h3>
    <div class="row">
    <div class="col-sm">

    <p> Sort comments by class:</p>
    <select name="class_selection" class="form-control">
    {% for cls in classes %}
        <option value="{{cls.classes.id}}">{{cls.classes.name}}</option>
    {% endfor %}
    </select>
    <br>
    <button type="submit" class="submit">Sort Comments by Class</button>
    </form>

    </div>
    
    <div class="col-sm">

    <form action="{{path('teacher_stats',{'id':pageId})}}" method="post">

    <p> Sort comments by subject:</p>
    <select id="subject_selection" class="form-control">
    {% for sbj in classes %}
        <option value="{{sbj.subject.id}}">{{sbj.subject.name}}</option>
    {% endfor %}
    </select>
    <br>

    <button type="submit" class="submit">Sort Comments by Subject</button>
    </form>

    </div>
    </div>
    <hr>
    </div>

-->

    <section>
    {% set i = 1 %}
    {% for comment in comments %}
        <h4>Comment <b> {{i}} </b> :</h4> 
        <div>{{comment.creationDate|date('d/m/Y')}}</div>
        <p>{{comment.text}}</p>
        
    {% endfor %}
    </section>

    <!-- Adding comments to the page ends -->

</div>
{% endblock %}