{% extends "base.html.twig" %}
{% block body %}
<div class="container">
  <h3>page id : {{page.id}}</h3>
  {% if (page.questions|length()) > 0 %}
      <table class="table">
          <tr>
              <th>Question id</th>
               <th>Question text</th>
               <th>Question type</th>
          </tr>
      {% for question in page.questions %}
          <tr>
              <td>{{question.id}}</td>
              <td>{{question.text}}</td>
              <td>{{question.type}}</td>
              <td><a href="{{path('question_update',{'id':question.id})}}">modify</a></td>
              <td><a href="{{path('question_delete_page',{'id':question.id,
              'page_id': page.id})}}">Delete</a></td>
              <td><a href="{{path('question_show',{'id': question.id})}}">Show Responses</a></td>
          </tr>
      {% endfor %}


      </table>
      {% else %}
          <h4>There are no questions for this page</h4>
  {% endif %}
 <!--<h4><a href="{#path('question_page_create',{'page_id': page.id})#}">Add questions</a></h4>
-->
-<h4><a href="{{path('how_much',{'id': page.id})}}">Add questions</a></h4>
   <h4><a href="{{path('admin_survey_page_home',{'survey_id': page.sheet.id})}}">return to the survey details</a></h4>
</div>
{% endblock %}
