{% extends 'base.html.twig' %}
{% block title %} About - KES Project {% endblock %}
{% block body %}
<head>
<style>
#chj
{
  border: 1px solid gray;
  padding: 8px;
}

#nwn
{
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
	color: #007aff;
}

#qdq {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

#cld
{
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body>
<br>
<br>
<div id="chj" class="container">
  <h1 id="nwn">About KES Project</h1>
  <div align="center"><img src="https://i.ibb.co/TBkMGqm/file-20190408-2912-10gjzew.jpg"></img></div>
  <br>
  <p id="qdq">This is KES Project, project to help students of different schools in Czech republic make the assessment of their teachers.
  Teachers can view their ratings and student reviews, and students can leave feedback and rate teachers.
  <a id="cld" target="_blank" href="">"Try it Yourself"</a> link.</p>
</div>
<br><br><br>
<br><br><br>
</body>
{% endblock %}