{% extends 'basecz.html.twig' %}
{% block title %} O Projektu KES - CZ {% endblock %}
{% block body %}
<head>
<style>
#chj
{
  border: 1px solid gray;
  padding: 8px;
}

#nwn
{
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
	color: #007aff;
}

#qdq {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

#cld
{
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body>
<br>
<br>
<div id="chj" class="container">
  <h1 id="nwn">O Projektu KES</h1>
  <div align="center"><img src="https://i.ibb.co/TBkMGqm/file-20190408-2912-10gjzew.jpg"></img></div>
  <br>
  <p id="qdq">Jedná se o projekt KES, projekt, který má pomoci studentům různých škol v České republice provést hodnocení jejich učitelů.
  Učitelé si mohou prohlédnout jejich hodnocení a hodnocení studentů a studenti mohou zanechat zpětnou vazbu a hodnotit učitele. 
  <a id="cld" target="_blank" href="">"Vyzkoušejte sami sebe"</a> odkaz .</p>
</div>
<br><br><br>
<br><br><br>
</body>
{% endblock %}