{% extends 'base.html.twig' %}
{% block title %} Access Dedied {% endblock %}
{% block style %}

<!-- CSS starts here -->

<style>

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


$color: #54FE55;
$color2: #1a4f1a;
$glowSize: 10px;

html,body
{
   width: 100%;
   height: 100%;
   margin: 0;
}

body
{
    background-color: #F7F7D4;
}

*{
}
#app{
   padding: 1rem;
   background: #F7F7D4;
   display: flex;
   height: 100%;
   justify-content: center; 
   align-items: center;
   color: $color;
   text-shadow: 0px 0px $glowSize ;
   font-size: 6rem;
   flex-direction: column;
   .txt {
      font-size: 1.8rem;
   }
}
@keyframes blink {
    0%   {opacity: 0}
    49%  {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 1}
}

.blink {
   animation-name: blink;
    animation-duration: 1s;
   animation-iteration-count: infinite;
}

#greens
{
    color: green;
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

</style>

<!-- CSS ends here -->

{% endblock %}
{% block javascripts %}

<!-- JavaScripts starts here -->

<script>

</script>

<!-- JavaScripts ends here -->

{% endblock %}
{% block body %}

<div id="app">
   <div id="greens">403</div>
   <div class="txt">
      <span class="blink">_</span>
   </div>
</div>

{% endblock %}