{% extends 'base.html.twig' %}
{% block title %} Změnit heslo - CZ {% endblock %}
{% block navbar %}
<li class="nav-item">
<a class="nav-link" href="">{{app.user.lastname}}  {{app.user.firstname}}</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{path('school_rating')}}"> Schools Satisfying Rating </a>
</li>
{% endblock %}
{% block style %}

<!-- CSS starts here -->


<!-- CSS ends here -->

{% endblock %}
{% block javascripts %}

<!-- JavaScripts starts here -->

<script>

var myInput = document.getElementById("psw");
var myInput2 = document.getElementById("psw2");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var sames = document.getElementById("sames");

// When the user clicks on the password field, show the message box
myInput.onfocus = function()
{
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function()
{
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function()
{
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters))
  {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  }
  else
  {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }
  
  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters))
  {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  }
  else
  {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers))
  {
    number.classList.remove("invalid");
    number.classList.add("valid");
  }
  else
  {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }
  
  // Validate length
  if(myInput.value.length >= 8)
  {
    length.classList.remove("invalid");
    length.classList.add("valid");
  }
  else
  {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }

  // Validate the same passwords
  if(myInput.value == myInput2.value)
  {
    sames.classList.remove("invalid");
    sames.classList.add("valid");
  }
  else
  {
    sames.classList.remove("valid");
    sames.classList.add("invalid");
  }
}

</script>

<!-- JavaScripts ends here -->

{% endblock %}
{% block body %}
<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
				<br>
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Zapomenuté heslo?</h2>
                  <p>Zde můžete resetovat své heslo.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post" action="{{path('security_change_password')}}">
                    <hr>
          <div align="center"><a href="{{path('security_change_password')}}"><img src="https://i.ibb.co/MZkhJ82/uk.png"></img> English version</a></div>
          <hr>
						<div class="form-group">
							<div class="form-group">
								<label for="exampleInputPassword1">E-mailem</label>
								<input id="email" name="email" placeholder="emailová adresa" class="form-control"  type="email">
							</div>
                    
							<div class="form-group">
								<label for="exampleInputPassword1">Heslo</label>
								<input type="password" class="form-control" name="password" id="password" placeholder="Heslo" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
							</div>
                        
							<div class="form-group">
								<label for="exampleInputPassword1">Heslo znovu</label>
								<input type="password" class="form-control" name="password" id="password" placeholder="Heslo znovu" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
							</div>
						</div>
						<hr>
						<div class="form-group">
							<input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Obnovit heslo" type="submit">
						</div>
                        <br>
						<input type="hidden" class="hide" name="token" id="token" value="">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
<br><br><br>
<br><br><br>
{% endblock %}