{% extends "base.html.twig" %}
{% block style %}


{% endblock %}
{% block body %}
<body>

    <div class="main">

        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form">
                    <b><h2 class="form-title" style="color:#007AFF">What type of user are you ?</h2></b>
					<hr>
                    <div align="center" class="form-radio">
                        <!--
                        <input type="radio" name="member_level" value="newbie" id="newbie" checked="checked" />
                        <label for="newbie"><a href="{{path('security_registration_user')}}"><i class="fa fa-bolt"></i> Admin</a></label>
                        -->
                        <input type="radio" name="member_level" value="average" id="average" />
                        <label for="average"><a href="{{path('security_registration_teacher')}}"><i class="fa fa-star"></i> Teacher</a></label>

                        <input type="radio" name="member_level" value="master" id="master" />
                        <label for="master"><a href="{{path('security_registration_student_school')}}"><i class="fa fa-thumbs-up"></i> Student</a></label>
                    </div>

                </form>
                <form  action="{{ path('security_login') }}" method="post">

                  <p class="loginhere">
                      Already have an account ?<a href="#" class="loginhere-link"> Log in</a>
                  </p>

                  <div class="form-textbox">
                      <label for="email">Email</label>
                      <input type="email"
                      required name="_username"
                      id="email" />
                  </div>



                  <div class="form-textbox">
                      <label for="pass">Password</label>
                      <input type="password"
                      required name="_password"
                       id="pass" />
                  </div>
                  <div class="form-textbox">
                      <input type="submit" name="submit" id="submit" class="submit" value="Login" />
                  </div>

                </form>
				<br>
				<div align="center">
				<a href="{{path('security_change_password')}}"> Change password</a>
				</div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="js/vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
{% endblock %}
