{% extends "basecz.html.twig" %}
{% block style %}

<!-- CSS starts here -->

<!-- CSS ends here -->
{% endblock %}
{% block body %}
<body>
    <div class="main">
        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form">
                    <b><h2 id="blueblues" style="color:#007AFF">Jaký typ uživatele jste?</h2></b>
					<hr>
                    <div class="form-radio">
					<div align="center">
                        <!--
                        <input type="radio" name="member_level" value="newbie" id="newbie" checked="checked" />
                        <label for="newbie"><a href="{{path('security_registration_user')}}"><i class="fa fa-bolt"></i> Správce</a></label>
                        -->
                        <input type="radio" name="member_level" value="average" id="average" />
                        <label for="average"><a href="{{path('security_registration_teacher')}}"><i class="fa fa-star"></i> Učitel</a></label>
                        <input type="radio" name="member_level" value="master" id="master" />
                        <label for="master"><a href="{{path('security_registration_student_school')}}"><i class="fa fa-thumbs-up"></i> Učenec</a></label>
					</div>
                    </div>
                </form>
                <form  action="{{ path('security_login') }}" method="post">
                  <p class="loginhere">
                      Máte již účet ?<a href="#" class="loginhere-link"> Přihlásit se</a>
                  </p>
                  <div class="form-textbox">
                      <label for="email">E-mailem</label>
                      <input type="email"
                      required name="_username"
                      id="email" />
                  </div>
                  <div class="form-textbox">
                      <label for="pass">Heslo</label>
                      <input type="password"
                      required name="_password"
                       id="pass" />
                  </div>
                  <div class="form-textbox">
                      <input type="submit" name="submit" id="submit" class="submit" value="Přezdívka" />
                  </div>
                </form>
				<br>
				<div align="center">
				<a href="{{path('security_change_password')}}"> Změnit heslo</a>
				</div>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="js/vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
{% endblock %}