{% extends "base.html.twig" %}
{% block body %}
<br>
<div class="container">
<h1 style="color:#007AFF">Registration as an Admin</h1>
<div align="center"><a href="{{path('security_registration_usercz')}}"><img src="https://i.ibb.co/ZftRzPq/cz.png"></img> Czech version</a></div>
<hr>
{{ form_start(form)}}
{{form_row(form.firstname)}}
{{form_row(form.lastname)}}

{{ form_row(form.gender,{ 'attr': {'class': 'rButton'} }) }}
<br>
<br>
<br>
{{form_row(form.email)}}
{{form_row(form.password)}}
{{form_row(form.confirm_password)}}
{{form_row(form.school)}}
<div class="form-group"><select name="role" class="form-control">
<option value="ROLE_ADMIN">Admin</option>
<option value="ROLE_SUPER_ADMIN">Super Admin</option>
</select></div>

<div class="form-textbox">
    <input type="submit" name="submit" id="submit" class="submit" value="Create Account" />
</div>
{{form_end(form)}}
</div>
<br><br>
<br><br>
{% endblock %}
