{% extends "base.html.twig" %}
{% block body %}
<div class="container">
  <h1>Student is registered in the successfully !</h1>
  <a href="{{path('home')}}" class="submit">Finish</a>

</div>
{% endblock %}
