{% extends "base.html.twig" %}
{% block body %}
<div class="container">
  <h1>Student Registration </h1>
  <h2>Please choose your school</h2>
  {{ form_start(form)}}
  {{form_widget(form)}}
  <div class="form-textbox">
      <input type="submit" name="submit" id="submit" class="submit" value="Next" />
  </div>
  {{form_end(form)}}




</div>

{% endblock %}
