{% extends "base.html.twig" %}
{% block body %}
<div class="container">
<h1 style="color:#007AFF">Teacher Registration</h1>
<div align="center"><a href="{{path('security_registration_teacher')}}"><img src="https://i.ibb.co/ZftRzPq/cz.png"></img> Czech version</a></div>
<hr>
{{ form_start(form, {'action':path('security_registration_teacher'), 'method': 'POST'})}}
{{form_row(form.firstname)}}
{{form_row(form.lastname)}}

{{ form_row(form.gender,{ 'attr': {'class': 'rButton'} }) }}
<br>
<br>
<br>
{{form_widget(form)}}
<div class="form-textbox">
    <input type="submit" name="submit" id="submit" class="submit" value="Create Account" />
</div>
{{form_end(form)}}
</div>
{% endblock %}