{% extends "basecz.html.twig" %}
{% block body %}
<br>
<div class="container">
<h1 style="color:#007AFF">Registrace jako správce</h1>
<div align="center"><a href="{{path('security_registration_user')}}"><img src="https://i.ibb.co/MZkhJ82/uk.png"></img> English version</a></div>
<hr>
{{ form_start(form)}}
{{ form_label(form.firstname, 'Jméno') }}{{form_row(form.firstname)}}
{{ form_label(form.lastname, 'Příjmení') }}{{form_row(form.lastname)}}
{{ form_label(form.gender, 'Rod') }}{{ form_row(form.gender,{ 'attr': {'class': 'rButton'} }) }}
<br>
<br>
<br>
{{ form_label(form.email, 'E-mailem') }}{{form_row(form.email)}}
{{ form_label(form.password, 'Heslo') }}{{form_row(form.password)}}
{{ form_label(form.confirm_password, 'Potvrďte heslo') }}{{form_row(form.confirm_password)}}
{{ form_label(form.firstname, 'Škola') }}{{form_row(form.school)}}
<div class="form-group"><select name="role" class="form-control">
<option value="ROLE_ADMIN">Správce</option>
<option value="ROLE_SUPER_ADMIN">Super Správce</option>
</select></div>
<div class="form-textbox">
    <input type="submit" name="submit" id="submit" class="submit" value="Create Account" />
</div>
{{form_end(form)}}
</div>
<br>
<br>
<br>
{% endblock %}