{% extends "base.html.twig" %}
{% block body %}
<div class="container">
<h1 style="color:#007AFF">Student Registration</h1>
  {{form_start(form)}}
  {{form_row(form.firstname)}}
{{form_row(form.lastname)}}

{{ form_row(form.gender,{ 'attr': {'class': 'rButton'} }) }}
<br>
<br>
<br>
  {{form_widget(form)}}
  <input type="hidden" name="classesId" value="{{classId}}">
  <div class="form-textbox">
      <input type="submit" name="submit" id="submit" class="submit" value="Create Account" />
  </div>
  {{form_end(form)}}





</div>
{% endblock %}
