{% extends "base.html.twig" %}

{% block body %}

<div class="user-type" style="position: absolute;">
  <h1 >Please select the user type : </h1>
  <ul>
  <li><a class="btn btn-primary" href="{{path('security_registration_student_school')}}" role="button">Student</a></li>

  <li><a class="btn btn-primary" href="{{path('security_registration_teacher')}}" role="button">Teacher</a></li>

  <li><a class="btn btn-primary" href="{{path('security_registration_user')}}" role="button">Admin</a></li>
  </ul>

</div>



{% endblock %}
