{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <form action="{{path('security_registration_student')}}" method="post">
        <div class="form-group">
            <label for="">Please choose your classeroom</label>
            <select name="classesId"  class="form-control">
            {% for clas in classes %}
                <option value="{{clas.id}}">{{clas.name}}</option>
            {% endfor %}</select>
        </div>
        <div class="form-textbox">
            <input type="submit" name="submit" id="submit" class="submit" value="Next" />
        </div>
    </form>
</div>
{% endblock %}
