{% extends 'base.html.twig' %}
{% block title %} Teacher Page {% endblock %}
{% block body %}
<div class="container">
<div class="alert alert-danger">{% trans into 'cz_CZ' %}Error there is no marks for this survey{% endtrans %}</div>
<a href="{{path('teachercz')}}">{% trans into 'cz_CZ' %}Return{% endtrans %}</a>
</div>
{% endblock %}