{% extends 'base.html.twig' %}
{% block title %} Teacher Page {% endblock %}
{% block body %}
<div class="container">
<div class="alert alert-danger">Error there is no marks for this survey</div>
<a href="{{path('teacher')}}">Return</a>
</div>
{% endblock %}