<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
    	<title>{% block title %}Vítejte! - KES Projekt - CZ{% endblock %}</title>
		{% block stylesheets %}
		<style>
				#wrap{
		min-height: 100%;
		margin-bottom: -80px;
		}

		#wrap:after{
		content: "";
		display: block;
		}

		footer,#wrap:after{
		height: 80px;
		}

		footer{
		
		border-top: 3px #000000 solid;
		margin: 10px 0 10px 0;
		text-align: center;

		}
		</style>
		{% endblock %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<!--  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{asset('css/reset.css')}}" type="text/css">
		<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">
		<link rel="stylesheet" href="{{asset('css/style1.css')}}" type="text/css">
		<link rel="stylesheet" href="{{asset('css/style3.css')}}" type="text/css">
		<link rel="stylesheet" href="{{'css/material-design-iconic-font.min.css'}}" type="text/css">

		<!-- Bootstrap CSS CDN -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<!-- Our Custom CSS -->
		<link rel="stylesheet" href="style.css">

		<!-- Font Awesome JS -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
	</head>
    <body>

		<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
		<a href="{{ path('login_cz') }}"><img src="{{asset('logo.png')}}" alt="" ></a><a class="navbar-brand" href="/">&nbsp;&nbsp;&nbsp;</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a class="nav-link" href="{{ path('login_cz') }}">
				<i class="fa fa-home"></i>
				Dům
				<span class="sr-only">(current)</span>
			</a>
		</li>

		{% block navBar %}
		{% endblock %}

		<li>

			{% if not app.user %}
			<a class="nav-link" href="{{ path('login_cz') }}">
			<i class="fa fa-upload"></i>
			Připojit</a>
		{% else %}
			<a class="nav-link" href="{{ path('security_logout') }}">
			<i class="fa fa-download"></i>
			Odpojit</a>
		{% endif %}
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('about_pagecz') }}">
			<i class="fa fa-university"></i>
				O nás
			</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{{ path('contact_pagecz') }}">
		<i class="fa fa-tag"></i>
				Kontakt
			</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{{ path('home') }}">
		<i class="fa fa-language"></i>
				Jít do Angličtiny
		</a>
		</li>
		</ul>
		
		</div>
		</nav>
		<div id="wrap" style="margin-top:20px;">
		{% block body %}
		{% endblock %}
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		{% block javascripts %}
		{% endblock %}
		<br>
		<footer style="text-align:center;">
			<img src="http://kes.koplac.cz/subdom/kes/images/koplac_logo.png" alt="" />
			<p>&copy; KoPlac 2019. All rights reserved.<br></p>
		</footer>

    </body>
</html>



