{% extends 'basecz.html.twig' %}
{% block title %} Nabídka Správce - CZ {% endblock %}
{% block stylesheets %}
<!-- CSS starts here -->
<style>

button
{
	background-color: #007AFF;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
    width: 280px;
    height: 100px;
    opacity: 0.8;
}

#leftcl
{
    float: left;
    width: 50 %;
}

#rightcl
{
    margin-left: 75%;
    width: 50 %;
}

button
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}


.button span
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span
{
    padding-right: 25px;
}

.button:hover span:after
{
    opacity: 1;
    right: 0;
}

</style>
<!-- CSS ends here -->
{% endblock %}
{% block navBar %}
      
      <li class="nav-item"><a href="" class="nav-link">{{app.user.lastname}} {{app.user.firstname}}</a></li>
      
    {% endblock %}

{% block body %}
<div class="container"><br>
<div id="adminmenus" align="center">
<div class="container">
<h1 style="color:#007AFF">Nabídka Správce</h1>
<div align="center"><a href="{{path('admin')}}"><img src="https://i.ibb.co/MZkhJ82/uk.png"></img> English version</a></div>
<hr>
<br>
    <div id="leftcl">
        <h2><a href="{{path('admin_survey_home')}}"><button class="button" style="vertical-align:middle" type="button"><span>Seznam Průzkumů</span></button></a></h2>
        <h2><a href="{{path('survey_show_period')}}"><button class="button" style="vertical-align:middle" type="button"><span>Viz průzkum v obdobích</span></button></a></h2>
        <h2><a href="{{path('isert_exel_teachers')}}"><button class="button" style="vertical-align:middle" type="button"><span>Vložte učitele</span></button></a></h2>
        <h2><a href="{{path('isert_exel_students')}}"><button class="button" style="vertical-align:middle" type="button"><span>Vložte studenty</span></button></a></h2>
    </div>
    <div id="rightcl">
        <h2><a href="{{path('admin_survey_create')}}"><button class="button" style="vertical-align:middle" type="button"><span>Vytvořte nový průzkum</span></button></a></h2>
        <h2><a href="{{path('admin_deletion')}}"><button class="button" style="vertical-align:middle" type="button"><span>Odstranit průzkum</span></button></a></h2>
        <h2><a href="{{path('admin_modification')}}"><button class="button" style="vertical-align:middle" type="button"><span>Upravit průzkum</span></button></a></h2>
        <h2><a href="{{path('security_logout')}}"><button class="button" style="vertical-align:middle" type="button"><span>Odhlaste se ze systému</span></button></a></h2>
    </div>
<br>
<hr>
</div>
<br><br><br>
</div>
<br><br><br></div>

{% endblock %}