{% extends "base.html.twig" %}
{% block body %}
<div class="container">


    <div class="row"><h3>Anonymous Id list</h3></div>
    <div class="row"><strong>Class : </strong>{{classes.name}} {{classes.year}}</div>
    <div class="row"><strong>Survey : </strong>{{survey.title}}</div>
    

<div class="row"><a href="{{path('admin_download_anonymousIdList',{'id' : survey.id})}}">download the list of anonymousId</a></div>
    <div class="row">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Password</th>
                <th>Valid</th>
            </tr>
            {% for anonymousId in anonymousIds %}
            <tr>
                <td>{{anonymousId.id}}</td>
                <td>{{anonymousId.password}}</td>
                <td>
                {% if not anonymousId.valid %}
                0
                {% else %}
                {{anonymousId.valid}}  
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}