{% extends "base.html.twig" %}
{% block body %}
<div class="container">
{% set page_number = 1 %}
{% for page in survey.pages %}
    <section>
        <h3>Page {{page_number}}</h3>
        {% if (page.questions|length()) > 0 %}
            {% for question in page.questions %}
                <div><strong>{{question.text}}</strong></div>
                {% for response in question.responses %}
                    <div class="form-check">
                    <label for="" class="form-check-label">
                        <input type="checkbox" class="form-check-input"> {{response.text}}
                    </label>
                </div> 
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% if (page.questionStandards|length()) > 0 %}
            {% for questionStandard in page.questionStandards %}
                <div><strong>{{questionStandard.text}}</strong></div>
                {% for responseStandard in responseStandards %}
                    {% if questionStandard.type == 'unique' %}
                        <div class="form-check">
                            <label for="" class="form-check-label">
                                <input type="radio" class="form-check-input" name="radio_response{{questionStandard.id}}" value="{{responseStandard.id}}"> {{responseStandard.text}}
                            </label>
                        </div>
                    {% elseif questionStandard.type == 'multiple' %}
                        <div class="form-check">
                            <label for="" class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="{{questionStandard.id}}" value="{{responseStandard.id}}"> {{responseStandard.text}}
                            </label>
                        </div>
                        

                    
                    {% endif %}
                    
                    
                {% endfor %}
            {% endfor %}
        {% endif %}
    </section>
{% set page_number = page_number + 1 %}
{% endfor %}
</div>
{% endblock %}