{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h3>{{survey.title}}</h3>
<div> <strong>Creation date :</strong> {{survey.createdAt|date('d/m/Y')}}</div>
<div><strong>List of pages :</strong></div>
<table class="table">
    <tr>
        <th>id</th>
        <th>teacher</th>
    </tr>
    {% for page in survey.pages %}
        <tr>
            <td> {{page.id }}</td>
            <td> {{page.teacher.lastname}} {{ page.teacher.firstname}} </td>


        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}