{% extends "base.html.twig" %}

{% block body %}
<div class="container">


{% if message %}
<div><strong><font color="red">{{message}}</font></strong></div>
{% endif %}

{% if form != null %}
<h3>Select the period you need to display the list of surveys : </h3>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
{% endif %}
{% if surveys != null %}
<h3>List of Surveys between {{date.start_date|date('d/m/Y')}} and {{date.end_date|date('d/m/Y')}}</h3>
<table class="table">
   <tr><th>Id</th>
    <th>Title</th>
    <th>Creation date</th>
    <th>Update date</th>
    <th>Classes</th>
    <th>Sendable</th>
    <th>Sended</th>
    </tr>

    {% for survey in surveys %}
       <tr> <td>{{survey.id}}</td>
        <td>{{survey.title}}</td>
        <td>{{survey.createdAt|date('d/m/Y')}} at {{survey.createdAt|date('H:i')}}</td>
                    <td>{{survey.updatedAt|date('d/m/Y')}} at {{survey.updatedAt|date('H:i')}}</td>
        <td>{{survey.classes.name}}</td>
        <td>{{survey.sendable}}</td>
        <td>{{survey.sended}}</td></tr>
    {% endfor %}
</table>
{% endif %}
</div>
{% endblock %}