{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <table class="table">
        <th>Text</th>
        <th>Value</th>
        {% for responseStandard in responseStandards %}
        <tr>
            <td>{{responseStandard.text}}</td>
            <td>{{responseStandard.value}}</td>
        </tr>
        {% endfor %}
    </table>
    <div><a href="{{ path('page_show',{'id':page_id }) }}">Return</a></div>
</div>
{% endblock %}