{% extends "base.html.twig" %}
{% block body %}
<div class="container">
<div>Anonymous Id : {{anonymousId.id}}</div>
<div>Page id : {{page.id}}</div>
<div>Teacher :{{page.teacher.lastname}} {{page.teacher.firstname}}</div>
<div>Mark : {{pageMark}}/5</div>
{% for question in page.questions %}
    <div>{{question.text}}</div>
     <table class="table">
      <tr>
        <th>Response</th>
        <th>Value</th>
        <th>User response</th>
    </tr>
    {% for response in question.responses %}
  
   
            <tr>
                <td>{{response.text}}</td>
                <td>{{response.value}}</td>
                {% for userResponse in userResponses %}
                {% if response.id == userResponse.response.id %}
                <td><strong> {{response.text }} </strong></td>
                {% endif %}
            {% endfor %}
            </tr>
    {% endfor %}
    </table>
{% endfor %}
</div>
{% endblock %}