{% extends "base.html.twig" %}
{% block body %}
<div class="container">
<div>
<br>
<div class="alert alert-success">
    <strong>Success! You have successfully sompleted the form</strong> 
  </div>
<hr>
</div>
</div>
{% endblock %}
