{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %} 
{% trans into 'cz_CZ' %}Hello {% endtrans %}

{% trans into 'cz_CZ' %}password {% endtrans %}

{% endblock %}
