{% block body %}

<table cellpadding="5" cellspacing="0">
<tr>

    <td id="col1">

    <div align="center">
    <img id="teacher_avatar" src="https://i.ibb.co/sKhrbxL/teacher.png">
    <br>
    <hr>
    <h4><b>Your mark:</b></h4>
    <h2 id="teacher_mark"><b>{{mark.mark}}</b></h2>
    <p> <b>{{mark.numberOfResponses}}</b> users have given you a feedback </p>
    </div>

    <hr>
    <button onClick="email()" type="button"> Send Results to E-mail </button>
    <br><br>
    <button onClick="exportPDF()" type="button"> Export Info as a PDF doc </button>
    <br><br>
    <button onClick="exportPDFTwo()" type="button"> Export Graphics as a PDF doc </button>
    <br><br>
    <button onclick="window.location.href='{{ path('security_logout') }}'" type="button"> Log Out from the System </button>
    <br><br>

    </td>

    <td id="col2">

    <h3 align="center"> ▪ Teacher Information ▪ </h3>
    <hr>
    <h4>&nbsp;<b>Teacher:</b> {{teacher.firstname}} {{teacher.lastname}} </h4>
    <h4>&nbsp;<b>Subject:</b>{% for tc in teacherClassesList %}
        {{tc.subject.name}}
    {% endfor %} </h4>
    <h4>&nbsp;<b>Group:</b> 5A</h4>
    <h4>&nbsp;<b>Classes:</b> {% for tc in teacherClassesList %}
        {{tc.classes.name}}
    {% endfor %} </h4>
    <h4>&nbsp;<b>School:</b> {{school.name}}</h4>
    <h4>&nbsp;<b>E-mails:</b> {{teacher.email}} </h4>
    <hr>


<div class="container">
    <h3 align="center"> ▪ Last Comment ▪ </h3>
    <hr>
    <section>
        <h4>Comment <b> {{commentnumber}} </b> :</h4>
        <div>5/09/2019 at 12:00</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quam nisi odit vitae, placeat nulla error, nobis sint nam accusamus
            atque perferendis dicta aliquid aut culpa quas! Laborum, mollitia quidem.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laborum fugit temporibus laudantium, reprehenderit atque quis autem quam expedita numquam,
        vitae, facere animi? Quis ipsum praesentium itaque odio error temporibus.
        </p>
    </section>
</div>
    <hr>
    <div align="center"><button onclick="location.href='{{path('teacher_stats')}}'" type="button"> Show All Comments </button></div>
    <br>
    </td>

    <td id="col3">

    <div class="container">
    <h3 align="center"> ▪ Results in Graphs ▪ </h3>
    <hr>
    </div>

    <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <hr>

    <div align="center">

    <button onClick="showTeach()" type="button"> Show Other Teachers Graphic </button>
    <br><br>
    <button onClick="showMarks()" type="button"> Show Your Grades Graphic </button>

    </div>

    </td>
</tr>

{% endblock %}
