{% extends "base.html.twig" %}
{% block body %}
{% for response in reponses %}
<div><strong>{{response.question.text}}</strong></div>
    <div>{{response.text}} {{response.value}}</div>
{% endfor %}
{% endblock %}