html,
body
{
   margin:0;
   padding:0;
   height:100%;
}

#containerss 
{
   min-height:100%;
   position:relative;
}

#headerss 
{
}
#bodyss
{
}
#footdd
{
   position:absolute;
   width:100%;
   bottom: 0;
   text-align: center;
   color: white;
}