{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h3>Fill up the form to create / update a question</h3>
    {{ form_start(form)}}
    {{form_widget(form)}}
    <button type="submit"  class="submit">Submit</button>
    {{form_end(form)}}
</div>
{% endblock %}