{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <h3>question n°{{question.id}} : {{question.text}}</h3>
        {% if question.responses|length() > 0 %}
            <table class="table">
                <tr>
                    <td>Response id</td>
                    <td>Response text </td>
                    <td>value</td>
                </tr>
           
            {% for response in question.responses %}
                <tr>
                    <td>{{response.id}}</td>
                    <td>{{response.text}}</td>
                    <td>{{response.value}}</td>
                    <td><a href="">More details</a></td>
                    <td><a href="{{path('response_update', {'id': response.id})}}">Update</a></td>    
                    <td><a href="{{path('response_delete',{'id': response.id})}}">Delete</a></td>
                </tr>
            {% endfor %}
             </table>
        {% endif %}
        <h3><a href="{{path('response_create_from_question',{'id': question.id})}}">Add More response</a></h3>
        <h4><a href="{{path('page_show',{'id': page_id})}}">Return to the page details</a></h4>
    </div>
{% endblock %}