{% extends "base.html.twig" %}
{% block body %}
<div class="container">
<h1>Connect you with the login code and the password you have recieved in class to fill up the survey.</h1>

<div class="row">
    <div class="col col-md-4">
    <div><strong><font color="red">{{message}}</font></strong></div>
{{form_start(form)}}
{{form_widget(form)}}
<div class="form-textbox">
    <input type="submit" name="submit" id="submit" class="submit" value="Login" />
</div>
{{form_end(form)}}
    </div>
</div>


</div>

{% endblock %}
