{% extends 'base.html.twig' %}
{% block title %}Student{% endblock %}
{% block navBar %}
<li class="nav-item">
<a class="nav-link" href="">{{app.user.lastname}}  {{app.user.firstname}}</a>
</li>
{% endblock %}
{% block body %}
<br>
<div class="container">
<h1 align="center" style="font-weight: bold; color: #007AFF;">Informace o studentovi: </h1>
<div align="center"><a href="{{path('student')}}"><img src="https://i.ibb.co/MZkhJ82/uk.png"></img> Anglická verze</a></div>
<hr>
<div> <strong style="font-weight: bold;">studentská škola:</strong> {{school.name}} </div>
<div> <strong style="font-weight: bold;">studentská třída:</strong> {{classes.name}} </div>
<br>
{% if surveys %}
<h2 style="color: #007AFF;">OZNAMOVÁNÍ</h2>
<h2>Máte {{surveys|length()}} průzkumy(s) dokončit.</h2>
    <table class="table table-striped">
		<thead>
        <tr>
			<th>ID průzkumu</th>
			<th>Název průzkumu</th>
			<th>Stát</th>
		</tr>
		</thead>
		<tbody>
		{% for survey in surveys %}
        <tr>
            <td>{{survey.id}}</td>
            <td>{{survey.title}}</td>
            <td><a href="{{path('student_anonymous_login')}}">Vyplňte průzkum</a></td>
        </tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>Nejsou k dispozici žádné průzkumy</h2>
	{% endif %}
</div>
{% endblock %}