{% extends 'base.html.twig' %}
{% block title %}Student{% endblock %}
{% block navBar %}
<li class="nav-item">
<a class="nav-link" href="">{{app.user.lastname}}  {{app.user.firstname}}</a>
</li>
{% endblock %}
{% block body %}
<br>
<div class="container">
<h1 align="center" style="font-weight: bold; color: #007AFF;">Student Information : </h1>
<div align="center"><a href="{{path('studentcz')}}"><img src="https://i.ibb.co/ZftRzPq/cz.png"></img> Czech version</a></div>
<hr>
<div> <strong style="font-weight: bold;">student's school :</strong> {{school.name}} </div>
<div> <strong style="font-weight: bold;">student's class :</strong> {{classes.name}} </div>
<br>
{% if surveys %}
<h2 style="color: #007AFF;">NOTIFICATIONS</h2>
<h2>You have {{surveys|length()}} survey(s) to complete.</h2>
    <table class="table table-striped">
		<thead>
        <tr>
			<th>Survey id</th>
			<th>Survey title</th>
			<th>State</th>
		</tr>
		</thead>
		<tbody>
		{% for survey in surveys %}
        <tr>
            <td>{{survey.id}}</td>
            <td>{{survey.title}}</td>
            <td><a href="{{path('student_anonymous_login')}}">Fill up the survey</a></td>
        </tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>There are no surveys to show</h2>
	{% endif %}
</div>
{% endblock %}