{% extends "base.html.twig" %}
{% block navBar %}
<li class="nav-item">
<a class="nav-link" href="">{{app.user.lastname}}  {{app.user.firstname}}</a>
</li>
{% endblock %}
{% block body %}
<div class="container">

<!-- JavaScript starts here -->

<script>

var chc = false;    // Variable to check if student "hello" form is visible
var qhq = false;    // Variable to check if student answers form is visible

//var namesv;       // Variable to save student first name (disabled)
//var lastsv;       // Variable to save student last name (disabled)

window.onload = function()  // Function on page loading
{
  document.getElementById("sayhello").style.display = "none";
  document.getElementById("asd").style.display = "none";
	document.getElementById("content").style.display = "block";
};

function show()             // Showing a "hello" form to fill student info
{
	if ( chc == false )
	{
		document.getElementById("asd").style.display = "block";
    document.getElementById("sayhello").style.display = "none";
    document.getElementById("bts").style.display = "none";
		chc = true;
	}
	else
	{
		document.getElementById("asd").style.display = "none";
		chc = false;
	}
}

function buttons()          // Showing a answers form to fill student answers
{
	  document.getElementById("asd").style.display = "none";
	  document.getElementById("content").style.display = "block";
    alert("Successfully Saved !");
    //namesv = document.getElementById('firstspace').value;
    //lastsv = document.getElementById('secondspace').value;
    //document.getElementById('student').innerHTML += namesv + " " + lastsv;
}

</script>

<!-- JavaScript ends here -->

<!-- CSS starts here -->

<style>

/* Create a custom checkbox */
.checkmark
{
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark
{
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
{
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after
{
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after
{
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

</style>

<!-- CSS ends here -->
{% set pgnb = page_number -1 %}
 {% set page = pages[pgnb] %}


<!--Adding starts-->

<h1 id="element1">Teacher: {{page.Teacher.firstname}} {{page.Teacher.lastname}} </h1>

<h1 id="element1">Subject: {{page.Subject.name}} </h1>


    <form name="student_form" action="{{path('student_survey_page_fill_up_anonymousId',{'id': anonymousId.id , 'page_number': page_number})}}" method="post">
    <input type="hidden" name="pageid" value="{{page.id}}">
    <input type="hidden" name="anonymousid" value="{{anonymousId.id}}">
    <input type="hidden" name="form_submitted" value="1">
    <input type="hidden" name="page_number" value="{{page_number}}">
    <input type="hidden" name="number_of_pages" value="{{number_of_pages}}">



    {% set i = 1 %}
        {% for question in page.questions %}
       <div> <strong style="font-weight:bold;">Question {{i}} :</strong>{{question.text}}</div>
       {% set i = i + 1 %}
        {% if question.type =="unique" %}
          {% for response in question.responses %}

            <div class="form-check">
                <label for="" class="form-check-label" >
                    <input name="responses['{{question.id}}'][]" type="radio" id="materialUnchecked" name="materialExampleRadios" class="rButton"
                    value="{{response.id}}" > {{response.text}}
                </label>
            </div>
            {% endfor %}
        {% elseif question.type =="multiple" %}
          {% for response in question.responses %}
<div class="form-check">
                <label for="" class="form-check-label">
                    <input name="responses['{{question.id}}'][]" type="checkbox" value="{{response.id}}" class="form-check-input"> {{response.text}}
                </label>
            </div>
            {% endfor %}
        {% endif %}



        {% endfor %}

        <div class="topcorner col-xs-12 col-sm-5">
          <div class="form-group">

            
              <div class="row">
              <div class="col-sm-12">
              <h3 style="position: relative; left: 10%;">Please write your feedback</h3>
              </div><!-- /col-sm-12 -->
              </div><!-- /row -->
              <div class="row">
              <div class="col-sm-1">
              </div><!-- /col-sm-1 -->

              <div class="col-sm-10">
              <div class="panel panel-default">
              <div class="panel-heading">
              
              </div>
              <div class="panel-body">
              <textarea name="comment" id="" cols="30" rows="10" class="form-control" placeholder="comment the page"></textarea>
              </div><!-- /panel-body -->
              </div><!-- /panel panel-default -->
              </div><!-- /col-sm-5 -->

              </div>

            </div>
           
        </div>
        <div class="form-textbox">
            <input type="submit" name="submit" id="submit" class="submit"
            {% if page_number == number_of_pages %}value="Finish" {% else %}
              value="Next"{% endif %}
             />
        </div>


    </form>

<!--Adding ends-->

</div>
{% endblock %}
