
{% extends "base.html.twig" %}
{% block style1 %}
{% endblock %}
{% block body %}
<div class="container">
  <h3>Choose the Teacher you want to evaluate</h3>
  <form action="{{path('student_select_teacher_for_survey',{'id':anonymousId.id})}}" method="POST">
  <input type="hidden" name="anonymousId" value="{{anonymousId.id}}">
  {% for teacher in teachers %}
      <div class="form-check">

  
          <input type="checkbox"  name="pages_selected[]" value="{{teacher.page}}">{{teacher.teacher.firstname}} {{teacher.teacher.lastname}} ({{teacher.subject.name}})

      </div>
  {% endfor %}
 <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
