{% extends "base.html.twig" %}
{% block navBar %}
<li class="nav-item">
        <a class="nav-link" href="{{path('student')}}">{{app.user.lastname}}  {{app.user.firstname}}</a>
      </li>
{% endblock %}
{% block body %}
<div class="container">
<div>
<br>

{% if message == 'success' %}
<div class="alert alert-success">
 <strong>Success !</strong> This alert box could indicate a successful or positive action.
  </div>
{% elseif message =='error' %}
  <div class="alert alert-warning">
 <strong>Error!</strong> An error occured during the validation of the data.
  </div>
{% endif %}

   
<a href="{{path('student')}}">Return</a>
<hr>
</div>
</div>           
{% endblock %}