
{% extends "base.html.twig" %}
{% block body %}
<div class="container">
<h3>Add new Student</h3>
<form action="{{path('isert_exel_students')}}" enctype="multipart/form-data" method="post">
      <label>Add a CSV file to upload</label>
<div class="row">
  <div class="col-7">
    <div class="form-group">
    <input type="file"  name="file" class="form-control-file" />
    </div>
  </div>
  <div class="col-2">
    <button type="submit" class="submit" >Submit</button>
  </div>
</div>

</div>

</form>{% endblock %}
