{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h3>Fill up the form to create / update a response</h3>
    {{ form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-success">Submit</button>
    {{form_end(form)}}
</div>
{% endblock %}