{% extends "base.html.twig" %}
{% block body %}
    {% if success %}
    <h3>The response have been deleted !</h3>
    {% if questionId %}
    <div><a href="{{path('question_show', {'id': questionId})}}">Return to the question details</a></div>
    {% endif %}
    
    
    {% endif %}
    
{% endblock %}