{% extends "base.html.twig" %}
{% block body %}
<div class="container">
     <h3>response n°{{response.id}} : {{response.text}} value= {{response.value}}</h3>
     <div><a href="{{path('question_show',{'id': response.question.id })}}">Return to the question details</a></div>
</div>
{% endblock %}