{% extends "base.html.twig" %}
{% block body %}
<div class="container">
{% if mode =='form_submitted' %}
<h3>Success ! the school has been added to the database</h3>
<a href="{{path('super_admin')}}">return</a>
{% else %}
{{form_start(form)}}
{{form_widget(form)}}
 <div class="form-textbox">
      <input type="submit" name="submit" id="submit" class="submit" value="{{mode|capitalize}}" />
  </div>
{{form_end(form)}}    
{% endif %}
</div>

{% endblock %}

