{% extends "base.html.twig" %}
{% block stylesheets %}

<!-- CSS starts here -->
<style>

button
{
	background-color: #007AFF;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
    width: 280px;
    height: 100px;
    opacity: 0.8;
}

#leftcl
{
    float: left;
    width: 50 %;
}

#rightcl
{
    margin-left: 75%;
    width: 50 %;
    font-size:10px;
}

button
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}


.button span
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: medium;
}

.button span:after
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span
{
    padding-right: 25px;
}

.button:hover span:after
{
    opacity: 1;
    right: 0;
}

</style>
<!-- CSS ends here -->
{% endblock %}
{% block body %}
<div class="container" style="margin-top:20px;">
<div id="adminmenus" align="center">

<h1 style="color:#007AFF">Super Admin Menu</h1>
<ul>
{% if local =='cz' %}
<li><a href="{{path('super_admin_create_school')}}"><button class="button" style="vertical-align:middle" type="button"><span>Vložte novou školu</span></button></a></li><br>
<li><a href="{{path('super_admin_insert_classes')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert new Classes</span></button></a></li><br>
<li><a href="{{path('super_admin_insert_teachers')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert Teachers</span></button></a></li><br>
<li><a href="{{path('super_admin_insert_schoolsubject')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert Subject</span></button></a></li><br>
<li><a href="{{path('super_admin_insert_list_schoolsubject')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert Subject List (CSV)</span></button></a></li><br>
</ul>
{% else %}
  <li><a href="{{path('super_admin_create_school')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert a new School</span></button></a></li><br>
<li><a href="{{path('super_admin_insert_classes')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert new Classes</span></button></a></li><br>
<li><a href="{{path('super_admin_insert_teachers')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert Teachers</span></button></a></li><br>
<li><a href="{{path('super_admin_insert_schoolsubject')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert Subject</span></button></a></li><br>
<li><a href="{{path('super_admin_insert_list_schoolsubject')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert Subject List (CSV)</span></button></a></li><br>
</ul>

{% endif %}
</div>
</div>





{% endblock %}