{% extends "base.html.twig" %}
{% block body %}
<div class="container">
{% if form != null %}
{{form_start(form)}}
{{form_widget(form)}}
 <div class="form-textbox">
      <input type="submit" name="submit" id="submit" class="submit" value="Create" />
  </div>
{{form_end(form)}} 
{% else %}
    <h3>{{message}}</h3>
{% endif %}
</div>
{% endblock %}