
{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <form action="{{path('super_admin_insert_teachers')}}" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label>Add a CSV file to upload</label>
            <input type="file" name="file" class="form-control-file" />
        </div>
        <div class="form-group">
            <label>Select the school where you want to add the teachers</label>
            <select name="school_selected" class="form-control">
            {% for school in schoolList %}
            <option value="{{school.id}}">{{school.name}}</option>  
            {% endfor %}
            </select>
        </div>
       <div class="form-textbox">
      <input type="submit" name="submit" id="submit" class="submit" value="Submit" />
  </div>
    </form>
</div>
{% endblock %}
