{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    {% if mode == null %}
        <h3><a href="{{path('create_survey_select',{'mode':'all_school'})}}">Create a survey for all school.</a></h3>
        <h3><a href="{{path('create_survey_select',{'mode':'select_classes'})}}">select classes corcened by the survey.</a></h3>
    
    {% elseif mode == 'all_school' %}
        
        <form action="{{path('create_survey_select',{'mode':'all_school'})}}" method="POST">
        <input type="hidden" name="all_school_submitted" value="1">
            <h4>Do you want to edit the questions for the surveys ?</h4>
           <div class="form-group">
           <select name="custom_all_school" class="form-control" >
                <option value="1">Yes I want to edit the questions and the responses for the surveys.</option>
                <option value="0">No I want the website edit standard questions and responses automatically </option>
            </select>
           </div>
            
            <button type="submit" class="btn btn-primary">Next</button>
        </form>

    {% elseif mode == 'select_classes'%}
        <h3>{{mode}}</h3>
        {% if form != null %}
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
        {% endif %}
        
    {% endif %}

</div>
{% endblock %}