{% extends "base.html.twig" %}

{% block stylesheets %}

<!-- CSS starts here -->

<style>

h1
{
  color: #4CAF50;
}

h2
{
  color: #4CAF50;
}

h3
{
  color: #4CAF50;
}

h4
{
  color: #4CAF50;
}

h5
{
  color: #4CAF50;
}

h6
{
  color: #4CAF50;
}

button
{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  width: 280px;
  height: 75px;
}

button
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

select
{
  text-align: center;
  text-align-last: center;
}

option
{
  text-align: left;
}

body{background-color: #F7F7D4;}

</style>

<!-- CSS ends here -->

{% endblock %}
{% block body %}
<div class="container">
<div align="center">
<h3>How many questions do you want to add to a survey?</h3>
<hr>
<form action="{{path('survey_how_much_questions',{'id':surveyGroupId})}}" method="post">
<input type="hidden" name="survey_group_id" value="{{surveyGroupId}}">
<input name="number_of_questions" type="number"  value="1" min="1" max="50" step="1">
<br>
<hr>
<button type="submit" class="btn btn-success"> Go Next </button>

</form>
</div></div>

{% endblock %}
