{% extends "base.html.twig" %}
{% block body %}
<div class="container">
<h3>Please write below questions you want to ask:</h3>
    <br>
    <form action="{{path('admin_survey_create_questions',{'id':surveyGroupId,'how_much':number_of_questions})}}" method="post">
    

     
<input  name="how_many_questions" type="hidden" value="{{number_of_questions}}">
      <input  name="survey_group_id" type="hidden" value="{{ surveyGroupId }}">
        {% for i in 1.. number_of_questions %}  

      <div class="form-group">
      <h4>Question {{i}}</h4>
        <label for="question{{i}}_text" >question {{i}} text :</label>
        <input id="question{{i}}_text" name="question{{i}}_text" class="widthed form-control" type="text">
      </div>
      <p>Choose a question type: </p>
        <div class="form-group">
          <select name="question{{i}}_type" class="form-control"id="question1type">
            <option value="multiple">Multiple answers</option>
            <option value="unique">Unique answers</option>
          </select>
        </div>
      <div id="answ{{i}}">
      <div><strong>Responses of question {{i}}:</strong></div>
      <br>
      {% for y in 1..5 %} 
      <br>
     <div class="form-inline">
          <label for="question{{i}}_answ{{y}}" style="padding: 10px;"><span>Answer {{y}}: </span></label>
            <input id="question{{i}}_answ{{y}}" name="question{{i}}_answ{{y}}_text" class="heighted form-control" type="text" > 
        <label for="" style="padding: 10px;"><span> Value :</span></label>
          <input type="number" name="question{{i}}_answ{{y}}_value" id="question{{i}}_answ{{y}}_value"   step="0.5" min="0" max="10.0" placeholder="number of point of the question" class="form-control"  value="0" style="width: 100px;">
      </div> 
   
    {% endfor %}
       
  {% endfor %}

      
  </div>
  <br>
  <br>
 <button id="btn"  type="submit" class="submit"> Send All </button>
    </form>
    </div>
</div>
{% endblock %}