{% extends 'base.html.twig' %}

{% block title %} Admin Menu {% endblock %}
{% block stylesheets %}

<!-- CSS starts here -->
<style>

button
{
	background-color: #007AFF;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
    width: 280px;
    height: 100px;
    opacity: 0.8;
}

#leftcl
{
    float: left;
    width: 50 %;
}

#rightcl
{
    margin-left: 75%;
    width: 50 %;
    font-size:10px;
}

button
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}


.button span
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: medium;
}

.button span:after
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span
{
    padding-right: 25px;
}

.button:hover span:after
{
    opacity: 1;
    right: 0;
}

</style>
<!-- CSS ends here -->
{% endblock %}
{% block navBar %}

      <li class="nav-item"><a href="" class="nav-link">{{app.user.lastname}} {{app.user.firstname}}</a></li>

    {% endblock %}


{% block body %}
<div class="container">
<br>
<div id="adminmenus" align="center">

<h1 style="color:#007AFF">Admin Menu</h1>
<div align="center"><a href="{{path('admincz')}}"><img src="https://i.ibb.co/ZftRzPq/cz.png"></img> Czech version</a></div>
<hr>
<br>
    <div id="leftcl">
        <h2><a href="{{path('admin_survey_home')}}"><button class="button" style="vertical-align:middle" type="button"><span>List of the surveys</span></button></a></h2>
        <h2><a href="{{path('survey_show_period')}}"><button class="button" style="vertical-align:middle" type="button"><span>See survey in periods</span></button></a></h2>
        <h2><a href="{{path('isert_exel_teachers')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert teachers </span></button></a></h2>
        <h2><a href="{{path('isert_exel_students')}}"><button class="button" style="vertical-align:middle" type="button"><span>Insert students </span></button></a></h2>
        
    </div>
    <div id="rightcl">
        <h2><a href="{{path('admin_survey_create')}}"><button class="button" style="vertical-align:middle" type="button"><span>Create a new survey for one class</span></button></a></h2>
        <h2><a href="{{path('create_survey_select')}}"><button class="button" style="vertical-align:middle" type="button"><span>Create new surveys for all the school</span></button></a></h2>
        <h2><a href="{{path('admin_deletion')}}"><button class="button" style="vertical-align:middle" type="button"><span>Delete a Survey</span></button></a></h2>
        <h2><a href="{{path('admin_modification')}}"><button class="button" style="vertical-align:middle" type="button"><span>Modify a Survey</span></button></a></h2>
        <h2><a href="{{path('security_logout')}}"><button class="button" style="vertical-align:middle" type="button"><span>Log Out from the System</span></button></a></h2>
    </div>
<br>
<hr>

<br><br><br>
</div>
<br><br><br>
</div>

{% endblock %}
