{% extends "base.html.twig" %}
{% block stylesheet %}

<!-- CSS starts here -->

<style>

body
{
    background-color: #F7F7D4;
}

h1
{
	color: #4CAF50;
}

h2
{
	color: #4CAF50;
}

h3
{
	color: #4CAF50;
}

h4
{
	color: #4CAF50;
}

h5
{
	color: #4CAF50;
}

h6
{
	color: #4CAF50;
}

select
{
	text-align: center;
	text-align-last: center;
}

option
{
	text-align: left;
}

button
{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 280px;
	height: 75px;
}

button
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container
{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark
{
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.container:hover input ~ .checkmark
{
	background-color: #ccc;
}

.container input:checked ~ .checkmark
{
	background-color: #2196F3;
}

.checkmark:after
{
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after
{
	display: block;
}

.container .checkmark:after
{
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

</style>

<!-- CSS ends here -->

{% endblock %}

{% block javascripts %}

<!-- JavaScripts starts here -->

<script>

</script>

<!-- JavaScripts ends here -->

{% endblock %}

{% block body %}
<div class="container">
<div align="center">

<h1>Modify - Selection</h1>
<hr>

</div>

<div class="container">
     
    {% if surveys %}

     <h4>Surveys : </h4>
        <table class="table">
            <tr>
                <th>ID:</th>
                <th>CLASSROOM:</th>
                <th>DATE:</th>
                <th>UPDATED:</th>
            </tr>
            {% for survey in surveys %}
                <tr>
                    <td>{{survey.title}}</td>
                    <td>{{survey.classes.name}}</td>
                    <td>{{survey.createdAt|date('d/m/Y')}} at {{survey.createdAt|date('H:i')}}</td>
                    <td>{{survey.updatedAt|date('d/m/Y')}} at {{survey.updatedAt|date('H:i')}}</td>
                    <td><a href="{{path('admin_survey_page_home',{'survey_id':survey.id})}}">Modify</a></td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <h3>There is no survey for this school !</h3>
    {% endif %}
       
</div>

<!-- Body block ends here --></div>



{% endblock %}