{% extends "base.html.twig" %}
{% block stylesheets %}

<!-- CSS starts here -->

<style>



select
{
    text-align: center;
    text-align-last: center;
}

option
{
    text-align: left;
}

button
{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
    width: 280px;
    height: 75px;
}

button
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container
{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark
{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark
{
    background-color: #ccc;
}

.container input:checked ~ .checkmark
{
    background-color: #2196F3;
}

.checkmark:after
{
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after
{
    display: block;
}

.container .checkmark:after
{
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


</style>

<!-- CSS ends here -->

{% endblock %}

{% block javascripts %}

<!-- JavaScripts starts here -->

<script>

function SelectSurvey()
{
    alert("Saved!");
}

</script>

<!-- JavaScripts ends here -->

{% endblock %}

{% block body %}

<!-- Body block starts here -->
<div class="container"><div align="center">
<h1 align="center">Modify Page</h1>
<h3 align="center">Please select surveys you want to modify:</h3>
<br><hr><br>
</div>
<form action="{{path('modify_finish')}}" method="post">
{% for surv in surveys %}
    <label class="container">{{surv.title}}
        <input type="checkbox" id="{{surv.id}}" name="surv_id[]" value="{{surv.id}}">
        <span class="checkmark"></span>
    </label>
    <br>
{% endfor %}
<br><hr><br>
<div align="center">
<button onClick="SelectSurvey()" type="submit" class="submit"> Select a Survey </button>
</form>
</div>

<!-- Body block ends here -->
</div>

{% endblock %}
