{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h3>Create a new survey for {{school.name}}</h3>
{{form_start(form)}}
{{form_widget(form)}}
<div class="form-group">
    <label for="">Select the classroom concerned</label>
    <select name="classesId" id="" class="form-control">
    {% for classes in school.classes %}
        <option value="{{classes.id}}">{{classes.name}}</option>
    {% endfor %}
    </select>
</div>
<div>Do you want to create a survey automatically ?</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="rButton" name="auto" value="yes">Yes
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="rButton" name="auto" value="no">No
  </label>
</div>
 <button class="submit" type="submit">Submit !</button>
{{form_end(form)}}
   <!-- <form action="{path('admin_create_survey')}" method="post">
    <div class="form-group">
        <label for="">Title of the survey</label>
        <input type="text" name="title" class="form-control">
    </div>
        <div class="form-group">
            <select name="classroomId" class="form-control">
            {for classes in school.classes }
                <option value="{classes.id}">{classes.name}</option>
            { endfor }
            </select>
        </div>
        <button class="btn btn-success" type="submit">Submit !</button>

    </form>-->
</div>
{% endblock %}
