{% extends "base.html.twig" %}
{% block stylesheets %}

<!-- CSS starts here -->

<style>

body
{
  background-color: #F7F7D4;
}

h1
{
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #66B032;
}

</style>

<!-- CSS ends here -->

{% endblock %}

{% block javascripts %}

<!-- JavaScript starts here -->

<script>

</script>

<!-- JavaScript ends here -->

{% endblock %}

{% block body %}
<div class="container"><div align="center">
  <h1> Delete </h1>
  <hr>
  <p>Page to delete :<br>
  <input type="text" name="firstname" value="1">
  <br>

<a href="/survey/delete/{{1}}">Press</a>

</div></div>


{% endblock %}