{% extends "base.html.twig" %}
{% set example = variable %}
{% block stylesheets %}

<!-- CSS starts here -->

<style>

h1
{
  color: #4CAF50;
}

h2
{
  color: #4CAF50;
}

h3
{
  color: #4CAF50;
}

h4
{
  color: #4CAF50;
}

h5
{
  color: #4CAF50;
}

h6
{
  color: #4CAF50;
}

button
{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  width: 280px;
  height: 75px;
}

button
{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

select
{
  text-align: center;
  text-align-last: center;
}

option
{
  text-align: left;
}

.widthed
{
  height: 50px;
  width: 400px;
}

.heighted
{
  width: 250px;
}

body{background-color: #F7F7D4;}

</style>

<!-- CSS ends here -->

{% endblock %}

{% block javascripts %}

<!-- JavaScript starts here -->

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
 <script>

// // Variables for initial information

// /*let info_classroom;       // We saving info about classroom in this variable
// let info_classroom_name;
// let info_teacher;         // We saving info about teacher in this variable
// let info_teacher_lastname;
// let info_teacher_firstname;  
// let info_subject;
// let info_subject_name;         // We saving info about subject in this variable
// */
// // Variables for initial questions

// // Cycle for creating a variables to a questions 
// {% for i in 1.. example %}
//   let question{{i}};
//   let questiontype{{i}};
//   let answerdo1{{i}};
//   let answerdo2{{i}};
//   let answerdo3{{i}};
// {% endfor %}

// var answ_exist = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

// window.onload = function()
// {
//   document.getElementById("first").style.display = "none";
//   document.getElementById("secnd").style.display = "none";
//   document.getElementById("setwo").style.display = "none";
// 	document.getElementById("third").style.display = "none";
//   document.getElementById("fours").style.display = "block";
//   document.getElementById("fived").style.display = "none";
//   document.getElementById("final").style.display = "none";

//   {% for i in 1..example %}
//     {% for y in 1..3 %}
//       document.getElementById("a{{i}}_sh{{y}}").style.display = "none";
//     {% endfor %}
//   {% endfor %}

//   // Answers to a questions cycle
//   {% for i in 1..example %}
//     document.getElementById("answ{{i}}").style.display = "none";
//   {% endfor %}
// }

// function showSecond()
// {
//   info_classroom = document.getElementById("selection1").value;
//   alert("The classroom ID is " + info_classroom);
//   //document.getElementById("classrm_show").innerHTML = "Classroom ID: " + info_classroom;
// 	document.getElementById("first").style.display = "none";
// 	document.getElementById("secnd").style.display = "block";
// }

// function showSeTwo()
// {
//   info_teacher = document.getElementById("selection2").value;
//   alert("The teacher ID is " + info_teacher);
 
  
//   document.getElementById("secnd").style.display = "none";
//   document.getElementById("setwo").style.display = "block";
// }

// function showThird()
// {
//   document.getElementById("howque").value = {{variable}};
//   document.getElementById("setwo").style.display = "none";
// 	document.getElementById("third").style.display = "block";
//   document.getElementById("fours").style.display = "block";
// }

// function showResult()
// {
//   {% for i in 1.. example %}
//     question{{i}} = document.getElementById("question{{i}}_text").value;
//     document.getElementById("q{{i}}_sh").innerHTML = "Question {{i}}: " + question{{i}};

//     {% for y in 1..3 %}
//       answerdo{{y}}{{i}} = document.getElementById("question{{i}}_answ{{y}}").value;
//       document.getElementById("a{{i}}_sh{{y}}").innerHTML = "Answer {{y}}: " + answerdo{{y}}{{i}};
//     {% endfor %}

//   {% endfor %}
// 	document.getElementById("fours").style.display = "none";
//   document.getElementById("fived").style.display = "block";
// }

// function AddMoreVariants(QN)    // QN - Question Number
// {
//   //alert("Add a variants to a question " + QN);
//   answ_exist[QN] = 1;
//     {% for y in 1..3 %}
//       document.getElementById("a" + QN + "_sh{{y}}").style.display = "block";
//     {% endfor %}
//   document.getElementById("answ" + QN).style.display = "block";
// }

// function ShowCommentYes()
// {
//   document.getElementById("commentrez").innerHTML = "Yes";
// }

// function ShowCommentNo()
// {
//   document.getElementById("commentrez").innerHTML = "No";
// }

// function Finalize()
// {
//   alert("Saved!");
//   document.getElementById("zero0").style.display = "none";
//   document.getElementById("third").style.display = "none";
//   document.getElementById("fived").style.display = "none";
//   document.getElementById("final").style.display = "block";
// }


 </script>

<!-- JavaScript ends here -->
{% endblock %}

{% block body %}
<div class="container mx-auto">
  <h1>Create a new page</h1>
  <div id="third">
    <h5><strong id="classrm_show">Classroom : </strong>{{page.sheet.classes.name}}</h5>
    <h5><strong id="teacher_show">Teacher :</strong> {{page.teacher.lastname}} {{page.teacher.firstname}}</p></h5>
    <h5><strong id="subject_show">Subject :</strong> {{page.subject.name}}</h5>
  </div>

  <div id="fours">
    <h5><strong> Number of questions :</strong> {{variable}} </h5>
    <br>
    <h3>Please write below questions you want to ask:</h3>
    <br>
    <form action="{{path('admin_create_survey_manualy')}}" method="post">
    
      <input id="page_id" name="page_id" type="hidden" value="{{page.id}}">
      <input id="howque" name="how_many_questions" type="hidden" value="{{variable}}">
      <!-- The question creation cycle starts here -->
      {% for i in 1.. variable %}  

       <div class="form-group">
      <h4>Question {{i}}</h4>
        <label for="question{{i}}_text" >question {{i}} text :</label>
        <input id="question{{i}}_text" name="question{{i}}_text" class="widthed form-control" type="text">
      </div>
      <p>Choose a question type: </p>
        <div class="form-group">
          <select name="question{{i}}_type" class="form-control"id="question1type">
            <option value="multiple">Multiple answers</option>
            <option value="unique">Unique answers</option>
          </select>
        </div>
      <div id="answ{{i}}">
      <div><strong>Responses of question {{i}}:</strong></div>
      <br>
      {% for y in 1..5 %} 
     <br>
     <div class="form-inline">
          <label for="question{{i}}_answ{{y}}" style="padding: 10px;"><span>Answer {{y}}: </span></label>
            <input id="question{{i}}_answ{{y}}" name="question{{i}}_answ{{y}}_text" class="heighted form-control" type="text" > 
        <label for="" style="padding: 10px;"><span> Value :</span></label>
          <input type="number" name="question{{i}}_answ{{y}}_value" id="question{{i}}_answ{{y}}_value"   step="0.5" min="0" max="10.0" placeholder="number of point of the question" class="form-control"  value="0" style="width: 100px;">
      </div> 
    {% endfor %}
      
  {% endfor %}

   </div>
  <br>
  <br>
 <button id="btn"  type="submit" class="submit"> Send All </button>
    </form>
    </div>
</div>
{% endblock %}