{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h3>{{survey.title}}</h3>
    {% if survey.pages|length() %}
    <h4>Pages : </h4>
      <table class="table">
        <tr>
            <th>Page id</th>
            <th>Teacher</th>
            <th>Subject</th>
            <th>State</th>
        </tr>
    {% for page in survey.pages %}
        <tr>
            <td>{{page.id}}</td>
            <td>{{page.teacher.lastname}} {{page.teacher.firstname}}</td>
            <td>{{page.subject.name}}</td>
            <td><a href=""></a></td>
            <td><a href="{{ path('page_show',{'id': page.id}) }}">Show questions</a></td>
            <td><a href="{{path('admin_delete_page',{'survey_id': survey.id ,
            'page_id': page.id})}}">Delete</a></td>

        </tr>
    {% endfor %}

    </table>
    {% else %}
    <h3>No pages</h3>
    {% endif %}
    <div><a href="{{path('admin_survey_page_new_select_teacher', { 'survey_id' : survey.id })}}">Add a new page</a></div>
    <div><a href="{{path('admin_survey_home')}}">Return</a></div>
    </div>
{% endblock %}