{% extends "base.html.twig" %}
{% block body %}
<div class="container">

    <h3>Select the subject of the teacher</h3>
   <h4>{{teacher.lastname}} {{teacher.firstname}}</h4>
    <form action="{{path('admin_survey_page_new_select_subject',{'survey_id': survey.id,
                                                                'teacher_id': teacher.id})}}" method="post" name="teacher_selected">
        <div class="form-group">
            <select name="subject" class="form-control">
                {% for subject in subjects %}
                <option value="{{subject.id}}">{{subject.name}}</option>
                {% endfor %}
             </select>
        </div>

        <button class="submit">Submit</button>
    </form>
</div>
{% endblock %}
