{% extends "base.html.twig" %}
{% block body %}
<div class="container"> <div>The survey has been sended to the classroom {{classroom}} !</div>
    <div><a href="{{path('admin_download_anonymousIdList',{'id': survey.id })}}">Download the list of passwords</a></div>
    <div><strong> anonymous survey list</strong></div>
    <table>
    <tr><th>id</th>
        <th>password</th>
    </tr>
    {% for anonymousId in anonymousIds %}
        <tr><td>{{anonymousId.id}}</td>
            <td>{{anonymousId.password}}</td>
        </tr>
    {% endfor %}
    </table>
    <div><a href="{{path('admin_survey_home')}}">return</a></div></div>
   
{% endblock %}