{% extends "base.html.twig" %}
{% block stylesheets %}

<!-- CSS starts here -->

<style>

h1
{
    color: #4CAF50; 
}

</style>

<!-- CSS ends here -->

{% endblock %}
{% block body %}
<div class="container"><div align="center">
<h1>Saved successfully!</h1>
<hr>
</div></div>

{% endblock %}