{% extends "base.html.twig" %}
{% block body %}
<div class="container">

    <h3>Select the teacher concerned by this page</h3>

    <form action="{{path('admin_survey_page_new_select_teacher',{'survey_id': survey.id})}}" method="post" name="teacher_selected">
        <div class="form-group">
            <select name="teacher" class="form-control">
                {% for teacher in teachers %}
                <option value="{{teacher.id}}">{{teacher.lastname}} {{teacher.firstname}}</option>
                {% endfor %}
             </select>
        </div>

        <button class="submit">Submit</button>
    </form>
</div>
{% endblock %}
