{% extends "base.html.twig" %}
{% block body %}
<div class="container" style="margin-top:20px;">
     <h4><a href="{{path('admin_survey_create')}}">Create a new survey</a></h4>

    {% if surveys %}

     <h4>Surveys : </h4>
        <table class="table">
            <tr>
                <th>Survey id</th>
                <th>Class</th>
                <th>Creation date</th>
                <th>Updated</th>
                <th><a href="{{path('survey_delete_all',{'id':app.user.school.id})}}">Modify All</a></th>
                <th><a href="{{path('survey_delete_all',{'id':app.user.school.id})}}">Delete All</a></th>

            </tr>
            {% for survey in surveys %}
                <tr>
                    <td>{{survey.id}}</td>
                    <td>{{survey.classes.name}}</td>
                    <td>{{survey.createdAt|date('d/m/Y')}} at {{survey.createdAt|date('H:i')}}</td>
                    <td>{{survey.updatedAt|date('d/m/Y')}} at {{survey.updatedAt|date('H:i')}}</td>
                    <td><a href="{{path('admin_survey_page_home',{'survey_id':survey.id})}}">Modify</a></td>
                    <td><a href="{{path('survey_delete',{'id': survey.id})}}">Delete</a></td>
                    <td>{% if survey.sendable and  not survey.sended %}
                        <form action="{{path('survey_send')}}" method="post">
                            <input type="hidden" value="{{survey.id}}" name="survey_id">
                          <td><button type="submit" class="submit">Send</button></td>
                    </form>
                    {% elseif not survey.sendable and not survey.sended %}
                    <button type="button" class="btn btn-primary" disabled>Uncompleted</button>
                    {% elseif survey.sended %}
                    <td><button type="button" class="submit" disabled>Sended</button>
                    </td>

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <h3>There is no survey for this school !</h3>
    {% endif %}
</div>
{% endblock %}
